* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    background: 
        linear-gradient(
        217deg,
        #004c7f,
        #0095da 70.71%
      ), linear-gradient(127deg, #2bc4f3, rgba(0, 255, 0, 0) 70.71%),
      linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%),
      linear-gradient(90deg, #fff 30%,#000);
    font-family: "Gothan", "FS siena";
    background-color: #000000;
    color: #333;
    line-height: 1.6;
    flex: auto;
}

.logo {
    width: 200px; /* Largura e altura iguais para criar um círculo */
    height: 200px;
    border-radius: 50%; /* Bordas arredondadas para criar um círculo */
    overflow: hidden; 
    position: relative;
    margin-left: 50%;
}

.logo img{
    width: 100%; /* Ajustar a largura da imagem para preencher o círculo */
    height: auto; /* Manter a proporção original da imagem */
    display: block;
    position: absolute; /* Posiciona a imagem dentro do círculo */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

header {
    background-color: #ffffff;
    padding: 1rem 0;
    width: 170px;
    height: 170px;
}

header h1 {
    font-size: 2rem;
}

section {
    
    padding: 2rem;
    margin: 2rem;
    border-radius: 5px;
    color: white;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.whatsapp-container {
    border: 2px solid #fff;
    text-align: center;
    background-color: #004c7f; 
    padding: 5px;
    border-radius: 5px;
}

.whatsapp-container img {
    width: 40px; 
    height: 40px; 
    margin-right: 10px; 
    vertical-align: middle; 
}

.whatsapp-container a{
    color: #fff;
}

.whatsapp-container p {
    font-size: 18px;
    color: #fff; 
    margin: 0;
    display: inline; 
}

/* Estilos para a seção de benefícios */
#benefits ul {
    list-style-type: square;
}

/* Estilos para links */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .logo {
        width: 70%;
        padding-bottom: 70%;
    }
}

.service{
    width: 400px; /* Largura desejada para a section */
    height: auto; /* Altura desejada para a section */
    text-align: center;
}

.services{
    columns: 2;
    column-gap: 20px; 
    list-style-type: none;
}

.image-container {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente as imagens */

}

/* Estilos para as imagens */
.image {
    width: 200px;
    height: 200px;
    margin: 10px; 
}

.galeria {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

/* Estilos para a coluna de texto à esquerda */
.text-galeria{
    flex: 1; /* A coluna de texto ocupa 1/3 do espaço disponível */
    padding: 20px;
}

/* Estilos para a coluna de imagens à direita */
.images-galeria {
    flex: 3; /* A coluna de imagens ocupa 2/3 do espaço disponível */
    display: flex;
    flex-wrap: wrap; /* As imagens são dispostas em várias linhas quando o espaço é insuficiente */
    justify-content: flex-end; /* Alinha as imagens à direita */
}

/* Estilos para as imagens */
.imageGaleria {
    width: 300px; /* Largura desejada para as imagens */
    height: 100px; /* Altura desejada para as imagens */
    margin: 10px; /* Espaçamento entre as imagens (ajuste conforme necessário) */
}

footer {
    background-color: #004c7f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.contact {
    max-width: 600px;
    margin: 0 auto;
}

.email img,
.address img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
}

.email a,
.address a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.email a:hover,
.address a:hover,
.whatsapp-container a:hover{
    color: #fff;
    text-decoration: underline;
    font-size: 15px;
}